.container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: indigo;
  margin: 1px;
}

.M {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Color :hover {
  background-color: gold;
  cursor: pointer;
}
